<!-- <nav id="main-nav" class="navbar navbar-expand-sm navbar-dark fixed-top ">
    <div class="container">
        <img src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500">
        <a [routerLink]="['/home']" class="navbar-brand">Sneakers</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home-section" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#brands-section" class="nav-link text-primary">About us</a>
                </li>
                <li class="nav-item">
                    <a href="#create-section" class="nav-link">Brands</a>
                </li>
                <li class="nav-item">
                    <a href="#share-section" class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/sign-up']" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<header>
    <div class="container">
  <nav class="navbar">
    
    <ul>
        <li class="navbar-logo"> <img src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500"></li>
        <li class="navbar-toggle"> <button class="menu " (click)="toggleMenu()" [class.opened]="isOpen"  aria-label="Main Menu" #toggle>
          <svg width="50" height="50" viewBox="0 0 100 100">
            <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
            <path class="line line2" d="M 20,50 H 80" />
            <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
          </svg>
        </button></li>
        <li class="navbar-link"  [class.active]="isOpen"> <a href="#">Əsas</a></li>
        <li class="navbar-link" [class.active]="isOpen"><a href="#">Haqqımızda</a></li>
        <li class="navbar-link" [class.active]="isOpen"><a href="#">Trendlər</a></li>
        <li class="navbar-link" [class.active]="isOpen"><a href="#">Məqsədimiz</a></li>
        <li class="navbar-link" [class.active]="isOpen"><a href="#">Əlaqə</a></li>
        <li class="navbar-link" [class.active]="isOpen">
        <button [routerLink]="['/sign-up']" class="navbar-button" [class.active]="isOpen">Daxil ol</button></li>

    </ul>
</nav>
</div>
</header>