<nav id="main-nav" class="navbar navbar-expand-sm navbar-dark fixed-top ">
    <div class="container">
        <img src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500">
        <a [routerLink]="['/home']" class="navbar-brand">Sneakers</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#home-section" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="#brands-section" class="nav-link text-primary">About us</a>
                </li>
                <li class="nav-item">
                    <a href="#create-section" class="nav-link">Brands</a>
                </li>
                <li class="nav-item">
                    <a href="#share-section" class="nav-link">Search</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/sign-up']" class="nav-link">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>