
<div class="container">
    <div id="brands">
        <div class="trends">
            <div class="trends-card">
            <img src="https://images.pexels.com/photos/9295809/pexels-photo-9295809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  class="trends-image">
            <div class="trends-card-box">
                <h1 class="trends-card-header">#trends</h1>
                <a class="trends-card-link" class="hover-underline-animation">read more</a>
            </div>
            </div>
            <div class="products">
                <div class="products-card">
                    <img src="https://cdn.shopify.com/s/files/1/0442/5524/8544/products/MENS_ADIDAS_SHOES_STUDIO-FLAT-1457_1800x1800.jpg?v=1631551852" alt="">
                    <p class="products-price">$ 85</p>
                    <p class="products-main">Adidas Forum 84 Low</p>
                </div>
                <div class="products-card">
                    <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/f6f6c1aa-9b19-49e0-821d-49b3661cf2dc/%D0%BA%D1%80%D0%BE%D1%81%D1%81%D0%BE%D0%B2%D0%BA%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%88%D0%BA%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-air-jordan-1-hi-flyease-wGdTCs.png" alt="">
                    <p class="products-price">$ 230</p>
                    <p class="products-main">Air Jordan 1 Hi FlyEase</p>
                </div>
                <div class="products-card">
                    <img src="https://i.pinimg.com/originals/ae/9b/b9/ae9bb998b7021611c54a8f59f6819d5b.jpg" alt="">
                    <p class="products-price">$ 80</p>
                    <p class="products-main">Converse Chuck Taylor</p>
                </div>
                <div class="products-card">
                    <img src="https://i.ebayimg.com/images/g/u5cAAOSwOydgmMSy/s-l1600.jpg" alt="">
                    <p class="products-price">$ 180</p>
                    <p class="products-main">New Balance 990 V2</p>
                </div>
            </div>
        </div>
    </div>
</div>