<div id="brands-section" class="container-fluid py-5">
    <div class="row ">
        <div class="col-md-5">
            <img class="image-fluid" src="https://images.pexels.com/photos/9295809/pexels-photo-9295809.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"  >
            <div id='trends' class="container justify-content-center">
                 <div class="d-dlex flex-column text-center ">
                <h3>#trends</h3>
                <a class="hover-underline-animation" href="#">read more</a>
            </div>
        </div>
        </div>
        <div class="col-md-6 offset-md-1 gallery ">
                <div class="d-flex mb-2">
                    <div class="d-flex flex-column">
                        <div class="container">
                        <img class="image-fluid pr-4" src="https://cdn.shopify.com/s/files/1/0442/5524/8544/products/MENS_ADIDAS_SHOES_STUDIO-FLAT-1457_1800x1800.jpg?v=1631551852">
                        <p class="align-self-start "><strong>$85</strong></p>
                        <p class="align-self-end "><a href="#">Adidas Forum 84 Low</a></p>
                    </div></div>
                    <div class="d-flex flex-column">
                        <div class="container">
                        <img class="image-fluid " src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/f6f6c1aa-9b19-49e0-821d-49b3661cf2dc/%D0%BA%D1%80%D0%BE%D1%81%D1%81%D0%BE%D0%B2%D0%BA%D0%B8-%D0%B4%D0%BB%D1%8F-%D1%88%D0%BA%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA%D0%BE%D0%B2-air-jordan-1-hi-flyease-wGdTCs.png"  >
                        <p class="align-self-start "><strong>$230</strong></p>
                        <p class="align-self-end "><a href="#">Air Jordan 1 Hi FlyEase</a></p>
                    </div></div>
                </div>
                
                <div class="d-flex mb-2">
                    <div class="d-flex flex-column">
                        <div class="container">
                        <img class="pr-4" src="https://i.pinimg.com/originals/ae/9b/b9/ae9bb998b7021611c54a8f59f6819d5b.jpg"  >
                        <p class="align-self-center"><strong>$80</strong></p>
                        <p class="align-self-end"><a href="#">Converse Chuck Taylor All Star</a></p>
                    </div></div>
                    <div class="d-flex flex-column">
                        <div class="container">
                        <img src="https://i.ebayimg.com/images/g/u5cAAOSwOydgmMSy/s-l1600.jpg">
                        <p class="align-self-start "><strong>$180</strong></p>
                        <p class="align-self-end "><a href="#"> Balance 990 V2</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   
   
