@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
img{
    max-width: 100%;
    display: block;
}

.trends{
    display: flex;
    justify-content: space-between;
}
.products{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.trends-card{
    width: 50%;
    position: relative;
}

.trends-card-box{
    background: white;
    padding: 5em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25%;
    right: -5%;
    box-shadow: 5px 0px 8px #888888;
}

.trends-card-header{
    font-family: 'Playfair Display', serif !important;
    font-size: 6rem;
    color: #674b47;
    padding-bottom: 0.5em;
   
}

.trends-card-link{
    font-weight: 700;
}

.products-card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.products-card img{
    width: 70%;
}

.products-price{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    align-self: flex-start;
    padding-top: 1em;
    padding-left: 5em;
}

.products-main{
    text-align: right;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
    cursor: pointer;
    font-weight: 700;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

@media(max-width:768px){
    .trends{
        flex-direction: column;
    }

    .trends-card{
        margin-bottom: 2em;
    }
    .products{
        width: 100%;
        
    }

    .trends-card{
        width: 100%;
    }

    .products-card img, .products-price{
        align-self: center;
        padding: 0;
    }

    .products-main{
       align-self: center;
    }
}

@media(max-width:425px){

    .trends-card{
        width: 100%;
    }

    .trends-card-box{
        padding: 3em 1em;
    }
    .products-card{
        width: 100%;
    }
    .trends-card-header{
        font-size: 4rem;
    }
}