<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)='drawer.toggle()'>
      <mat-icon class="material-icons color_white" >menu</mat-icon>
    </button>
    <img class="toolbar-logo" src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500" alt="">
    <span [routerLink]="['/home']" class="toolbar-main">Sneakers</span>
    <span class="example-spacer"></span>
    
    <div class="toolbar-buttons">
      <div class="search-box">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
      </div>
    <button mat-icon-button class="example-icon notifications_none" aria-label="Example icon-button with heart icon">
      <mat-icon class="material-icons color_white" matBadge="3" matBadgeColor="warn" >notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon matBadge="4" matBadgeColor="warn" class="material-icons color_white">mail_outline</mat-icon>
    </button>
  </div>


    <mat-accordion multi class="mx-4">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div mat-card-avatar class="example-header-image"></div>
          <p class="toolbar-text"><a><strong>Jonh Doe</strong></a></p>
        </mat-expansion-panel-header>

        <div class="profile">
          <p> <a href="#">Profilim</a></p>
          <span class="example-spacer"></span>
          <mat-icon>person</mat-icon>
      </div>


        <div class="settings">
            <p> <a href="#">Tənzimləmələr</a></p>
            <span class="example-spacer"></span>
            <mat-icon>settings</mat-icon>
        </div>


        <div class="status">
          <p> <a [matMenuTriggerFor]="beforeMenu">Status</a></p>
          <span class="example-spacer"></span>
          <mat-icon>more_horiz</mat-icon>
          <mat-menu #beforeMenu="matMenu" xPosition="before">

            <div class="online">
              <button mat-fab color="primary" class="green"></button>
              <button mat-menu-item>Online</button>
            </div>

            <div class="away">
              <button mat-fab  class="orange" ></button>
              <button mat-menu-item>Away</button>
            </div>

            <div class="busy">
              <button mat-fab class="red" ></button>
              <button mat-menu-item>Busy</button>
            </div>

            <div class="invis">
              <button mat-fab class="gray"></button>
              <button mat-menu-item>Invisible</button>
            </div>

          </mat-menu>
      </div>

      
      <div [routerLink]="['/sign-up']" class="log-out">
        <p> <a>Hesabdan çıxış</a></p>
        <span class="example-spacer"></span>
        <mat-icon>exit_to_app</mat-icon>
    </div>


    
    

  </mat-expansion-panel>
    </mat-accordion>
  </mat-toolbar>

  


  <mat-drawer-container   class="example-container mat-typography" autosize>
    
      <mat-drawer   #drawer mode="side" disableClose="true" opened="true">
        <mat-nav-list >

          <a class="mt-2" mat-list-item [routerLink]="['/brands']">
            <mat-icon>loyalty</mat-icon>
            <span mat-line  class="pl-2" >Brendlər</span>
            
          </a> 

          <a class="mt-2" mat-list-item [routerLink]="['/types']">
            <mat-icon>list_alt</mat-icon>
            <span mat-line  class="pl-2" >Tiplər</span>
          </a> 

          <a class="mt-2" mat-list-item [routerLink]="['/sizes']">
            <mat-icon>straighten</mat-icon>
            <span mat-line  class="pl-2" >Ölçülər</span>
          </a> 

          <a class="mt-2" mat-list-item [routerLink]="['/models']">
            <mat-icon>style</mat-icon>
            <span mat-line  class="pl-2">Modellər</span>
          </a> 

          <a class="mt-2 custom-icon" mat-list-item [routerLink]="['/sneakers']">
            <mat-icon>store</mat-icon>
            <span mat-line  class="pl-2" >Ayaqqabılar</span>
          </a> 
      </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
        
      </mat-drawer-content>
      <div class="example-sidenav-content">
      </div>
      
    </mat-drawer-container>


  