

<!-- Mat Sidenav Examples -->

<!-- #1 Method -->

<!-- <mat-sidenav-container>
     <mat-sidenav mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
     <mat-sidenav-content >Main
         <button style="border: none;" (click)="opened=!opened"><mat-icon >menu</mat-icon></button>
     </mat-sidenav-content>
 </mat-sidenav-container> -->

 <!-- #2 Method
 <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened">Sidenav</mat-sidenav>
    <mat-sidenav-content >Main
        <button (click)='sidenav.open()'><mat-icon >Open</mat-icon></button>
        <button (click)='sidenav.close()'><mat-icon >Close</mat-icon></button>

    </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- 
#3Method -->
<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">Sidenav</mat-sidenav>
    <mat-sidenav-content >Main
        <button (click)='sidenav.toggle()'><mat-icon >menu</mat-icon></button>
    </mat-sidenav-content>
</mat-sidenav-container> -->


<!-- Mat Menu Examples -->


<!-- <mat-menu #appMenu ='matMenu' xPosition="after" yPosition="above">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Adidas</button>
    <button mat-menu-item>Nike</button>
    <button mat-menu-item>Puma</button>
    <button mat-menu-item>Reebok</button>
    <button mat-menu-item>New Balance</button>
    <button mat-menu-item>Asics</button>
</mat-menu>

<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">Brands</button>

<mat-menu #subMenu ='matMenu'>
    <button mat-menu-item>Ozweego</button>
    <button mat-menu-item [matMenuTriggerFor]="modelsMenu">Yezzy</button>
    <button mat-menu-item>Nite Jogger</button>
</mat-menu>

<mat-menu #modelsMenu ='matMenu'>
    <button mat-menu-item>350</button>
    <button mat-menu-item>700</button>
</mat-menu>

With name at the end

<mat-menu #lazyMenu ='matMenu'>
    <ng-template matMenuContent let-name="name">
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Log out {{name}}</button>
    </ng-template>
</mat-menu>

<button
  mat-flat-button
   [matMenuTriggerData]="{name:'Sarkhan'}"
    [matMenuTriggerFor]="lazyMenu">
    Sarkhan
</button>
<button
  mat-flat-button
   [matMenuTriggerData]="{name:'Sneakers'}"
    [matMenuTriggerFor]="lazyMenu">
    Sneakers
</button> -->



<mat-toolbar>

    <mat-toolbar-row>
      
    <button style="background-color: #674b47; border: none ; color: white;" (click)="isExpanded = !isExpanded">
      <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
  
    <div class="container justify-content-start">
    <img style="width: 50px; height: 50px;" src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500">
    <a style="text-decoration: none; color: white;" [routerLink]="['/home']" class="navbar-brand">Sneakers</a>
    </div>
  
    <span class="example-spacer"></span>
  
    <p>
        <mat-form-field class="mx-3" appearance="standard">
          <mat-label>Search</mat-label>
          <input matInput >
          <mat-icon matSuffix>search</mat-icon>
          
        </mat-form-field>
      </p>
      <a class="icon" href="#"><mat-icon class="mx-3 my-1" style="color: wheat;">notifications</mat-icon></a>
      <a class="icon"href="#"><mat-icon class="mx-3 my-1" style="color: wheat;"> mail_outline</mat-icon></a>
        <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="rounded-circle pb-1 " style="width: 50px;"
  alt="Avatar" />
  
  <a href="#" class="header profile" style="color: wheat; font-size: 18px;" class="pl-3">Jonh Doe</a>
  
  </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container  class="example-container mat-typography" autosize>
    
      <mat-drawer   #drawer mode="side" disableClose="true" opened="true">
        <mat-nav-list >
          <a class="mt-3" mat-list-item [routerLink]="['/dashboard']">
              <mat-icon>dashboard</mat-icon>
              <span mat-line *ngIf="isExpanded" class="pl-3" >Dashboard</span>
          </a>
          <a class="mt-3" mat-list-item routerLink="about">
              <mat-icon>timeline</mat-icon>
              <span mat-line *ngIf="isExpanded" class="pl-3" >Sales</span>
          </a>
          <a class="mt-3" mat-list-item routerLink="about">
              <mat-icon>store</mat-icon>
              <span mat-line *ngIf="isExpanded" class="pl-3" >Brands</span>
          </a>
          <a class="mt-3" mat-list-item routerLink="about">
              <mat-icon>view_headline</mat-icon>
              <span mat-line *ngIf="isExpanded"class="pl-3" >Static information</span>
          </a>
      </mat-nav-list>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
        
      </mat-drawer-content>
      <div class="example-sidenav-content">
      </div>
      
    </mat-drawer-container>
  