@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
mat-drawer-container{
  height: 100%;
}

mat-nav-list a{
    color: black;
    font-weight: 600;
}
mat-nav-list a:hover,
mat-nav-list a:focus{
  color: #FF4081;
  text-decoration: none;
}
mat-nav-list a:active{
  color: #FF4081;
  text-decoration: none;
}
mat-toolbar {
    background-color: #674b47;
    display: flex;
    position: relative;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  
  
  mat-toolbar-row a:hover mat-icon{
    color: #ff0018 !important;
  }
  mat-toolbar-row a:hover img{
    color: #ff0018 !important;
  }
   
  mat-toolbar-row a{
    text-decoration: none;
  }
  mat-form-field.mat-form-field {
   font-size: 16px;
   color: wheat;
   padding-top: 17px;
 }

 mat-accordion mat-panel-title{
  font-size: 16px;
 }

 .example-header-image {
  background-image: url('https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
  .toolbar-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding:0 1em;
    cursor: pointer;
    
  }

  .toolbar-buttons{
    display: flex;
    align-items: center;
  }

  .toolbar-main{
    cursor: pointer;
  }
  .material-icons.color_white { color: #FFFFFF; }

  .toolbar-main{
    color: white;
  }

  .toolbar-logo{
    width: 60px;
    width: 60px;
  }

  .settings,.profile,.log-out,.status{
    display: flex;
    align-items: center;
    padding: 1em;
    cursor: pointer;
  }

  .settings a,.profile a,.log-out a,.status a{
    text-decoration: none;
    color: #000000;
    flex: 1 1 auto;
  }

  .settings{
    position: relative;
  }

  .profile:hover a,.profile:hover mat-icon{
    color: #ff0018;
  }

  
  .log-out:hover a,.log-out:hover mat-icon{
    color: #ff0018;
  }

  
  .status:hover a,.status:hover mat-icon{
    color: #ff0018;
  }

  
  .settings:hover a,.settings:hover mat-icon{
    color: #ff0018;
  }

  .status:hover mat-menu{
     display: block;
  }

  .online,.away,.invis,.busy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 1em;
  }

   .green,.orange,.red,.gray{
    width: 20px;
    height: 20px;
  }

  .green {
    background: green;
  }

  .orange{
    background: orange;
  }

  .red{
    background: red;
  }

  .gray{
    background: gray;
  }

  #cdk-overlay-0{
    position: absolute;
    right: 5.5em;
    top: -1.5em;
  }
  mat-expansion-panel p{
    margin: 0!important;
  }

  .toolbar-buttons{
    padding-right: 12em;
  }

  mat-accordion{
    position: absolute;
    z-index: 10;
    right: 0;
    top: 7px;
  }

  mat-drawer{
    width: 10%;
  }
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  mat-drawer-container img{
    width: 25px;
    height: 35px;
  }

  .custom-icon{
    padding: 0 18px 0 16px ;
  }

  mat-dialog-container{
    width: 50%;
}

  @media (max-width:768px){
    .toolbar-text{
      display: none;
    }

    mat-expansion-panel-header{
      padding-left:1em;
    }

    mat-accordion{
      width: 20%;
    }
    .mat-content{
      flex: 0;
    }

    .toolbar-buttons{
      padding-right: 8.5em;
    }

    .mat-expansion-panel-body.ng-tns-c281-0{
      padding: 0;
    }

    .settings,.profile,.log-out{
      padding-bottom: 1em;
    }
  }

  @media (max-width:600px){
    mat-accordion{
      top: 4px;
    }
  }

  
  @media (max-width:425px){

    .toolbar-main{
      display: none;
    }
    .settings a,.profile a,.log-out a{
      display: none;
    }

    mat-expansion-panel-header{
      padding: 0.5em;
    }

    .mat-line{
      display: none!important;
    }

  }

  @media (max-width:1440px){
    mat-drawer{
      width: 15%;
    }
  }

  @media (max-width:1024px){
    mat-drawer{
      width: 20%;
    }
  }

  @media (max-width:768px){
    mat-drawer{
      width: 35%;
    }
  }


