
<div class="conatiner">
<div id="gallery">
    <div class="row ">
        <div class="col-md-4 col-sm-12 col-xs-12 p-0 gallery-background-left"> 
            <!-- <img src="https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/d5b16412ae1d5201aa988a9c/pexels-photo-4219176.jpeg"> -->
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 p-0 gallery-background-center">
            <!-- <img src="https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/c9e45b83d0545d9aa57b6587/pexels-photo-4219177.jpeg"> -->
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 p-0 gallery-background-right">
            <!-- <img src="https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/80692cd5e5f0571b8dbc2f54/pexels-photo-4219179.jpeg"> -->
        </div>
    </div>
</div>
</div>
