.join-section img{
    width: 100%;
    height: 100%;
}

.join-section{
    margin-bottom: 3em;
}

.advantages h2 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-family: 'Roboto',sans-serif;
}
.advantages p{
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
    color: #111111;
}
.white p, .white h2{
    color: white;
}
.hover-rotate {
    overflow: hidden;
    width: 100%;
  }
  .hover-rotate img {
    transition: all 0.3s;
    width: 100%;
  }
  .hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
    transition: all 500ms ease-in;
  }
  .join{
      padding: 40px;
  }
.row{
    position: relative;
}
.background{
    width: 100%;
    height: 160px;
    position: absolute;
    background-color:  #674b47;
    top: 37%;
}
@media(max-width:768px){
    .white{
        background-color: #674b47;
    }
}

@media(max-width:425px){
    .background{
        top: 10%;
    }
}