<footer>
    <div class="footer-columns">
    <div class="footer-main">
        <div class="footer-header">
            <div class="footer-title">Sneakers</div>
            <div class="footer-logo">
                <img src="https://www.graphicsprings.com/filestorage/stencils/07846d9036424f00ee3f2d852fb162ba.png?width=500&height=500" alt="">
        </div>
        </div>
        <div class="footer-text"><p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non sunt temporibus asperiores error enim cum, excepturi magnam a consequatur nostrum!
        </p></div>
    </div>

    <div class="footer-list">
        <ul class="list-unstyled">
            <h3>Information</h3>
            <li class="footer-list-item"><a>My Account</a></li>
            <li class="footer-list-item"><a>Support Center</a></li>
            <li class="footer-list-item"><a>Terms & Conditions</a></li>
            <li class="footer-list-item"><a>Returns & Exchanges</a></li>
            <li class="footer-list-item"><a>Shopping & Delivery</a></li>
        </ul>
    </div>

    <div class="footer-list">
        <ul class="list-unstyled">
            <h3>Quick Shop</h3> 
            <li class="footer-list-item"><a>Adidas</a></li>
            <li class="footer-list-item"><a>Nike</a></li>
            <li class="footer-list-item"><a>New-Balance</a></li>
            <li class="footer-list-item"><a>Puma</a></li>
            <li class="footer-list-item"><a>Reebok</a></li>
        </ul>
    </div>

    <div class="footer-list last">
        <ul class="list-unstyled ">
            <h3>Contact us</h3> 
            <li><a href="#"> <fa-icon [icon]="faLocationDot" class="pr-2"></fa-icon>34 Azadliq Avenue, Baku, Azerbaijan</a></li>
            <li><a href="#"> <fa-icon [icon]="faPhoneFlip" class="pr-2"></fa-icon>Phone: (+994)99 304-14-10</a></li>
            <div class="d-flex"><li><a href="#"> <fa-icon [icon]="faEnvelope" class="pr-2"></fa-icon>Email: shacibyov@gmail.com</a></li></div>
          
                <div class="icons d-flex justify-content-center">
            <a href="#" class="pr-3"><fa-icon [icon]="faTwitter" ></fa-icon></a>
            <a href="#" class="pr-3"><fa-icon [icon]="faFacebookF"></fa-icon></a>
            <a href="#" class="pr-3"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a href="#" class="pr-3"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
            <a href="#" class="pr-3"><fa-icon [icon]="faWhatsapp"></fa-icon></a>
          </div>
        </ul>
    </div>

    
</div>
<hr size="10">
<p class="copyright"> © Copyright @2022 | Sneakers</p>
</footer>
