.background-black{
    background-color: black;
   height: 270px;
}
.text .header{
    color: #ffffff;
   padding: 20px 0;
}
.text p{
    color: #ffffff;
    font-size: 13px;
    line-height:1.6;
    letter-spacing: 0.02em;
    font-family: 'Poppins', sans-serif;
}
.text img{
    width: 100px;
    height: 100px;
}
.list{
    padding: 40px 40px;
}
.list h3,.list a{
    color:#ffffff;
    font-family: 'Poppins', sans-serif;
}
.list a{
    font-size: 13px;
    line-height:1.6;
    letter-spacing: 0.02em;
}
.icons{
    padding-top: 10px;
}