<div class="join-section">
    <div class="row">
        <div class="background"></div>
        <div class="col-md-5 hover-rotate"> <img class="px-4" src="https://images.pexels.com/photos/8130587/pexels-photo-8130587.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        
        <div class="col-md-5 advantages align-self-center">
            <div class="d-flex flex-column ">
            <div class="join d-flex flex-column ">
                <h2>Our Aim</h2>
                <p>We aim to contribute to the world's sustainable growth by creating a quality lifestyle for people all over the world.</p>
            </div>
            <div class="join white d-flex flex-column">
                <h2>Become Number One</h2>
                <p>Become the world’s number-one destination for fashion-loving 20-somethings.</p>
            </div>
            <div class="join d-flex flex-column ">
                <h2>Bring Inspriration</h2>
                <p>To bring inspiration and innovation to every athlete in the world. If you have a body, you are an athlete.</p>
            </div>
        </div>
    </div>
    </div>
</div>