<div id="about-us" class="container-fluid">
    <ul class="particles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    <div class="row justify-content-center">
        <div class="text col-md-5 col-sm-12 col-xs-12 align-self-center">
            <div class="d-flex flex-column  ">
                <div class="header display-4 pb-3" >Makeup Artist Services</div>
                <p>Canadian model Coco Rocha is featured on the cover. Lorem ipsum dolor sit amet, consectetur adipiscing elit nullam nunc justo sagittis suscipit ultrices. Maecenas convallis purus vel velit semper vehicula. Etiam consectetur aliquet lacus, nec efficitur diam consectetur nec.</p>
        </div>
    </div>
        <div class="col-md-5 col-sm-12 col-xs-12 py-5 article ">
           <div class="header display-4">About Us</div>
            <p>Gustavsson began modeling locally in 2008 and in the same year she moved to Japan to pursue modelling. She opened the Valentino Haute Couture fall 2013 show in Paris</p>
            <img class="image-fluid" src="https://www.adidas-group.com/media/filer_public_thumbnails/filer_public/71/cc/71cc6e9f-0bab-43a0-866a-19e1f5d8cfc8/kasper_rorsted_portrait_laces_neu.jpg__800x900_q85_crop-smart_subject_location-1650%2C833_subsampling-2.jpg">
        </div>
    </div>
</div>
