<div class="advantages">

    <div class="advantage-box">
        <div class="advantage-item">
            <fa-icon [icon]="truckIcon" size="2x"></fa-icon>
            <h3 class="advantage-title">Free Standard Delivery</h3>
        </div>
            <p class="advantage-text">Phasellus malesuada de pulvinar maecenas</p>
            <a class="advantage-link">Learn More</a>
    </div>

    <div class="advantage-box">
        <div class="advantage-item">
            <fa-icon [icon]="boxIcon" size="2x"></fa-icon>
            <h3 class="advantage-title">Free In Store Returns</h3>
        </div>
            <p class="advantage-text">Phasellus malesuada de pulvinar maecenas</p>
            <a class="advantage-link">Learn More</a>
    </div>

    <div class="advantage-box">
        <div class="advantage-item">
            <fa-icon [icon]="shieldIcon" size="2x"></fa-icon>
            <h3 class="advantage-title">100% Secure Checkout</h3>
        </div>
            <p class="advantage-text">Phasellus malesuada de pulvinar maecenas</p>
            <a class="advantage-link">Learn More</a>
        
    </div>
    

</div>