<div class="container prons-section">
<div class="header text-center">Why shop with us?</div>
<div class="columns d-flex">
<div class="col d-flex flex-column align-items-center">
    <fa-icon class="icons pt-3"  [icon]="faShield" size="2x" ></fa-icon>
    <h3 class="pt-3">Products Quality</h3>
    <p class="text-center">Comprehensive quality control and affordable prices.</p>
</div>
<div class="col d-flex flex-column align-items-center">
    <div class="icons pt-3">
    <fa-icon [icon]="faWarehouse" size="2x" ></fa-icon></div>
    <h3 class="pt-3">Global Warehouse</h3>
    <p class="text-center" >Shop from 20+ warehouses world wide.</p>
</div>
<div class="col d-flex flex-column align-items-center">
    <div class="icons pt-3">
    <fa-icon [icon]="faShippingFast" size="2x" ></fa-icon></div>
    <h3 class="pt-3">Fast Shipping</h3>
    <p class="text-center">Fast and convenient door to door delivery.</p>
</div>
<div class="col d-flex flex-column align-items-center">
    <div class="icons pt-3">
    <fa-icon [icon]="faUserShield" size="2x" ></fa-icon></div>
    <h3 class="pt-3">Payment Security</h3>
    <p class="text-center">More than 8 different secure payment methods.</p>
</div>
<div class="col d-flex flex-column align-items-center">
    <div class="icons pt-3">
    <fa-icon class="icon "  [icon]="faHeadset" size="2x" ></fa-icon></div>
    <h3 class="pt-3">Dedicated Support</h3>
    <p class="text-center">24/7 Customer Service - We’re here & happy to help!</p>
</div>
</div>
<div class="header text-center">Follow Us</div>
<div class="text-center">
<a href="#" style="text-decoration: none;">@hacibayov_ </a><span>INSTAGRAM</span></div>
</div>