.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
  }
  .d-flex button{
    height: 50px;
   margin-top: 10px;
  }
  .d-flex button:hover{
    opacity: 0.6;
    transition: all 500ms;
   
  }