<form [formGroup]="sneakerForm" style="width:300px;" class="overflow-hidden">
    <div class="new-customer row" [ngClass]="showAddSneakerModal ? 'active': ''">
        <div class="col-12 d-flex justify-content-between align-items-center mb-4">
            <h1 class="tc-label m-0" *ngIf="label=='new'">
                Yeni ayaqqabı
            </h1>
            <h1 class="tc-label" *ngIf="label=='update'">
                Ayaqqabını Düzənlə
            </h1>
            <button mat-dialog-close mat-icon-button >
              <mat-icon>close</mat-icon>
              </button>
        </div>
        <div class="col-12 d-flex flex-column mb-2" *ngIf="sneakerForm.controls['brandId']">
            <div class="col-12 d-flex justify-content-between align-items-center p-0 position-relative">
            <span class="form-label">Brend:</span>
            <mat-form-field class="example-full-width " appearance="fill">
                <mat-select class="customer-component" formControlName="brandId" placeholder="Seçin">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let brand of brandArray" [value]="brand.id">
                        {{brand.brand}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="position-absolute bottom-0 col-12 d-flex start-50 mt-2" *ngIf="sneakerForm.controls['brandId'].invalid && (sneakerForm.controls['brandId'].dirty || sneakerForm.controls['brandId'].touched)">
                <div class="text-danger" *ngIf="sneakerForm.controls['brandId'].errors?.['required']">
                    Brend boş ola bilməz.
                </div>
            </div>
        </div>

        <div class="col-12 d-flex flex-column" *ngIf="sneakerForm.controls['modelId']">
            <div class="col-12 d-flex justify-content-between align-items-center p-0 position-relative">
            <span class="form-label">Model:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-select class="customer-component" formControlName="modelId" placeholder="Seçin">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let model of modelArray" [value]="model.id">
                        {{model.model}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="position-absolute bottom-0 col-12 d-flex start-50" *ngIf="sneakerForm.controls['modelId'].invalid && (sneakerForm.controls['modelId'].dirty || sneakerForm.controls['modelId'].touched)">
                <div class="text-danger" *ngIf="sneakerForm.controls['modelId'].errors?.['required']">
                    Model boş ola bilməz.
                </div>
            </div>
        </div>


        <div class="col-12 d-flex flex-column" *ngIf="sneakerForm.controls['typeId']">
            <div class="col-12 d-flex justify-content-between align-items-center p-0 position-relative">
            <span class="form-label">Tip:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-select class="customer-component" formControlName="typeId" placeholder="Seçin">
                    <mat-option value=0>Seçin</mat-option>
                    <mat-option *ngFor="let type of typeArray" [value]="type.id">
                        {{type.type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>
            <div class="position-absolute bottom-0 col-12 d-flex start-50" *ngIf="sneakerForm.controls['typeId'].invalid && (sneakerForm.controls['typeId'].dirty || sneakerForm.controls['typeId'].touched)">
                <div class="text-danger" *ngIf="sneakerForm.controls['typeId'].errors?.['required']">
                    Tip boş ola bilməz.
                </div>
            </div>
        </div>

        <div class="col-12 d-flex align-items-center justify-content-between" *ngIf="sneakerForm.controls['price']">
            <span class="form-label pr-4">Qiymət:</span>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput type="number" formControlName="price">
            </mat-form-field>
            <div class="col-12 justify-content-center" *ngIf="sneakerForm.controls['price'].invalid && (sneakerForm.controls['price'].dirty || sneakerForm.controls['price'].touched )">
                <div class="text-danger" *ngIf="sneakerForm.controls['price'].errors">
                    Qiymət boş ola bilməz.
                </div>
            </div>
        </div>

        <div *ngIf="!showSpinner" class="buttons col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center" style="padding-bottom:10px; padding-top:10px">
            <button *ngIf="label=='new'" mat-button class="filter-btn" (click)="add_sneaker()" [disabled]="showSpinner">Əlavə et</button>
            <button *ngIf="label=='update'" mat-button class="filter-btn" (click)="add_sneaker()" [disabled]="showSpinner">Yadda saxla</button>
        </div>
        <div class="row col-12 d-flex justify-content-lg-end justify-content-center align-items-lg-end align-items-center spinner-div" style="padding-bottom:10px; padding-top:10px" *ngIf="showSpinner">
            <button [disabled]="true" mat-button class="filter-btn">
            Əlavə et
        </button>
            <mat-spinner style="margin:7px;" [diameter]="40" class="spinner">
            </mat-spinner>
        </div>
    </div>
</form>