
<div id="main-header" class="background">
    <div>
        <div class="row">
           
            <div class="col-md-12 ">
                <div class="main-pr">
                <div class="header display-4 text-light text-center p-2 animate__animated animate__backInUp">Sneakers</div>
                <p class="text-center animate__animated animate__backInUp">Best Sneakers</p>
            </div>
        </div>
      
            <div class="images col-md-6 col-sm-12 p-0 pl-5">
              <div class="image-1"></div>
            </div>
            <div class="images col-md-6 col-sm-12 p-0 pr-5 ">
                <div class="image-2"></div>
            </div>
        
    </div>
</div></div>




